*.dyn*
*.mmn
*.nnkp
*_tb.dat
*_band.agr
*_band.kpt
*.eig
*.chk
*_band.labelinfo.dat
*.out
*.wout
*.amn
*_u.mat
*_u_dis.mat
*_u.mat
*_wsvec.dat
*.fc
*.pdf
*.dat
*out
*agr
*png
DISP*
BASE*
*.werr
*.epa.k
*FORCE_CONSTANTS_3RD
*thirdorder_espresso.py