# Build folders
*build*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*phoebe

#IDE files
.project
.pydevproject

#MacOS specific files
.DS_Store

.Makefile.swp

#CMake stuff:
*CMakeCache.txt
*CMakeFiles
*cmake_install.cmake
CMakeDoxy*
Makefile

runTests
tags
*.plist
