# Build folders
*build*/

# Output files
*.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*phoebe

#IDE files
.project
.pydevproject

#MacOS specific files
.DS_Store

.Makefile.swp

#CMake stuff:
*CMakeCache.txt
*CMakeFiles
*cmake_install.cmake
CMakeDoxy*
Makefile
CMakeLists.txt.orig
CTestTestfile.cmake

eigen_dep-prefix/
epa_test/
example/Silicon/log
googletest/
pugixml_dep-prefix/
runTests*_include.cmake
scalapack_dep-prefix/
spglib_dep-prefix/
runTests[1]_include.cmake

runTests
tags
*.plist

# Clion IDE
.idea
