<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      .fa_custom {
	  color: #0099CC
      }
    </style>
  </head>

  <head>
    <!-- Topbar menu -->
    <link rel="stylesheet" type="text/css" href="stylesheets/topbar.css" media="screen">
  </head>
  
  <body>
    
    <!-- topbar taken from https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 -->
    <nav>
      <ul class="menu">
        <li class="logo"><a href="index">
	    <img src="light-logo.png" alt="Phoebe" style="height:26px">
	</a></li>
        <li class="item"><a href="index">Home</a></li>
        <li class="item"><a href="team">Team</a></li>
        <li class="item"><a href="https://github.com/mir-group/phoebe/discussions">Q&A</a></li>
        <li class="item"><a href="news">News</a></li>
        <li class="item"><a href="https://phoebe.readthedocs.io/en/develop/?">Docs</a>
        </li>
        <li class="toggle"><a href="#"><i class="fa fa-bars"></i></a></li>
      </ul>
    </nav>

    <section class="page-header">
      <h1 class="project-name">
	<img src="light-title.png" alt="Phoebe" style="height:30px">
      </h1>
      <h2 class="project-tagline">Phonon and electron Boltzmann equation</h2>
      <a href="https://github.com/mir-group/phoebe" class="btn">View on GitHub</a>
      <a href="https://github.com/mir-group/phoebe/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/mir-group/phoebe/tarball/master" class="btn">Download .tar.gz</a>
    </section>
    
    <section class="main-content">
      
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
	  <a href="https://github.com/mir-group/phoebe">Phoebe</a>
	  is maintained by the
	  <a href="https://bkoz.seas.harvard.edu/">MIR group @ Harvard</a>,
	  follow us 
	  <a href="https://twitter.com/materials_intel?lang=en" class="twitter-follow-button" data-show-count="false">@Materials_Intel</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</span>
      </footer>

    </section>

    <script>
      /* the scripts below are needed for the topbar menu */
      const toggle = document.querySelector(".toggle");
      const menu = document.querySelector(".menu");
      const items = document.querySelectorAll(".item");
 
      /* Toggle mobile menu */
      function toggleMenu() {
        if (menu.classList.contains("active")) {
          menu.classList.remove("active");
          toggle.querySelector("a").innerHTML = "<i class='fa fa-bars'></i>";
        } else {
          menu.classList.add("active");
          toggle.querySelector("a").innerHTML = "<i class='fa fa-times'></i>";
        }
      }

      /* Activate Submenu */
      function toggleItem() {
        if (this.classList.contains("submenu-active")) {
          this.classList.remove("submenu-active");
        } else if (menu.querySelector(".submenu-active")) {
          menu.querySelector(".submenu-active").classList.remove("submenu-active");
          this.classList.add("submenu-active");
        } else {
          this.classList.add("submenu-active");
        }
      }

      /* Close Submenu From Anywhere */
      function closeSubmenu(e) {
        let isClickInside = menu.contains(e.target);

        if (!isClickInside && menu.querySelector(".submenu-active")) {
          menu.querySelector(".submenu-active").classList.remove("submenu-active");
        }
      }
      /* Event Listeners */
      toggle.addEventListener("click", toggleMenu, false);
      for (let item of items) {
        if (item.querySelector(".submenu")) {
          item.addEventListener("click", toggleItem, false);
        }
        item.addEventListener("keypress", toggleItem, false);
      }
      document.addEventListener("click", closeSubmenu, false);
    </script>
        
  </body>      
</html>
