<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <style>
    body {margin:0;}
    
    ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
    }
    
    li {
	float: left;
    }
    
    li a {
	display: block;
	color: white;
	text-align: center;
	padding: 9px 16px;
	text-decoration: none;
    }
    
    li a:hover:not(.active) {
	background-color: #111;
    }
    
    .active {
	background-color: #4CAF50;
    }
    </style>
  </head>
  <body>

    <ul>
      <li><a href=index> Home </a></li>
      <li><a href=team> Team </a></li>
      <li><a href=https://github.com/mir-group/phoebe/discussions?discussions_q=category%3AQ%26A> Q&A </a></li>
      <li><a href=news> News </a></li>
      <li><a href=contact> Contact </a></li>
    </ul>
    
    <section class="page-header">
      <h1 class="project-name">Phoebe</h1>
      <h2 class="project-tagline">PHOnon and Electron Boltzmann Equation</h2>
      <a href="https://github.com/mir-group/phoebe" class="btn">View on GitHub</a>
      <a href="https://github.com/mir-group/phoebe/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/mir-group/phoebe/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
	  <a href="https://github.com/mir-group/phoebe">Phoebe</a>
	  is maintained by the
	  <a href="https://bkoz.seas.harvard.edu/">MIR group @ Harvard</a>,
	  follow us 
	  <a href="https://twitter.com/materials_intel?lang=en" class="twitter-follow-button" data-show-count="false">@Materials_Intel</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</span>
      </footer>

    </section>
  
  </body>
</html>
